:root {
  box-sizing: border-box;
}
.site-name {

  cursor: pointer;

  display: flex;
  justify-content: left;

  color:rgb(68, 68, 68);
  padding: 20px 30px 30px 30px;

  border-bottom: 1px solid rgb(228, 228, 228);
}
